@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F9FCF5;
  --txt-color: #000000;
  --gray: #C1C1C1;
  --green: #659F25;
  --primary: #5F259F;
  --border-gray: #E9E7EB;
}

.background-home{
  background-image: url("/images/paris-parc.webp");
  background-size: cover;
  background-position-x: center;
}

body {
  color: var(--txt-color);
  background: var(--background-color);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
